<div class="card mb-4">
  <div class="card-img-wrapper">
    <img class="card-img-top" src="{{user.photoUrl}}" onerror="this.src='/assets/default-img.jpg'"
      alt="{{user.knownAs}}">
    <ul class="list-inline member-icons animate text-center">
      <!-- user icon -->
      <li class="list-inline-item">
        <button class="btn btn-secondary" [routerLink]="['/members/',user.id]">
          <i class="fa fa-user" style="color: #4CAF50"></i>
        </button>
      </li>
      <!-- heart icon-->
      <li class="list-inline-item">
        <button class="btn btn-secondary">
          <i class="fa fa-heart" style="color: red;"></i>
        </button>
      </li>
      <!-- envelope icon -->
      <li class="list-inline-item">
        <button class="btn btn-secondary">
          <i class="fa fa-envelope" style="color:#2196F3;"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">
      <i class="fa fa-user">
      </i>
      {{user.knownAs}} {{user.age}}
    </h6>
    <p class="card-text text-muted text-center">
      {{user.city}}
    </p>
  </div>
</div>